{% extends "base.html" %} {% block title %}Mercado B {% endblock %}

{% block content %}
<div class="container" >


        <img class="imageteste" src="{{ url_for('static', filename='image/Mercadinho.png')}}" alt="">

    <div class="row" >
        <div class="col-md-10">

            <div class="card" style="width: 12rem;">
                <img class="card-img-top" src="{{ url_for('static', filename='image/bombril.jpg')}}" alt="Card image cap">
                <div class="card-body">
                    <h4>R$ 10,00</h4>
                <p class="card-text">Produtos de limpeza - Bombril</p>
                </div>
            </div>
            <div class="card" style="width: 12rem;">
                <img class="card-img-top" src="{{ url_for('static', filename='image/stylus.jpg')}}" alt="Card image cap">
                <div class="card-body">
                    <h4>R$ 10,00</h4>
                <p class="card-text">Produtos de limpeza - Bombril</p>
                </div>
            </div>
            <div class="card" style="width: 12rem;">
                <img class="card-img-top" src="{{ url_for('static', filename='image/vanish.jpg')}}" alt="Card image cap">
                <div class="card-body">
                    <h4>R$ 10,00</h4>
                <p class="card-text">Produtos de limpeza - Bombril</p>
                </div>
            </div>



            <div class="card" style="width: 12rem;">
                <img class="card-img-top" src="{{ url_for('static', filename='image/ninfa.jpg')}}" alt="Card image cap">
                <div class="card-body">
                    <h4>R$ 10,00</h4>
                <p class="card-text">Produtos de limpeza - Bombril</p>
                </div>
            </div>
            <div class="card" style="width: 12rem;">
                <img class="card-img-top" src="{{ url_for('static', filename='image/malitat.jpg')}}" alt="Card image cap">
                <div class="card-body">
                    <h4>R$ 10,00</h4>
                <p class="card-text">Produtos de limpeza - Bombril</p>
                </div>
            </div>
            <div class="card" style="width: 12rem;">
                <img class="card-img-top" src="{{ url_for('static', filename='image/fofo.jpg')}}" alt="Card image cap">
                <div class="card-body">
                    <h4>R$ 10,00</h4>
                <p class="card-text">Produtos de limpeza - Bombril</p>
                </div>
            </div>
            <div class="card" style="width: 12rem;">
                <img class="card-img-top" src="{{ url_for('static', filename='image/brilhante.jpg')}}" alt="Card image cap">
                <div class="card-body">
                    <h4>R$ 10,00</h4>
                <p class="card-text">Produtos de limpeza - Bombril</p>
                </div>
            </div>
            <div class="card" style="width: 12rem;">
                <img class="card-img-top" src="{{ url_for('static', filename='image/qualy.jpg')}}" alt="Card image cap">
                <div class="card-body">
                    <h4>R$ 10,00</h4>
                <p class="card-text">Produtos de limpeza - Bombril</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}